@import 'tailwindcss';

@theme {
	--color-brand-yellow: #fcbd0b;
	--color-brand-yelow-light: #f5b400;
	--color-brand-yellow-lighter: #fffbef;
	--color-brand-dark: #595454;
	--color-brand-light: #f4f3f3;
	--color-brand-gray: #bdbdbd;
	--color-brand-gray-dark: #757373;
	--color-brand-gray-light: #e8e8e8;
	--color-subtext-gray: #9e9b9b;

	--font-abeezee: 'ABeeZee', sans-serif;
	--font-outfit: 'Outfit', sans-serif;
	--radius-phone: 40px;
}

@layer base {
	html {
		@apply text-brand-dark;
		font-family: var(--font-abeezee);
		scroll-behavior: smooth;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--font-outfit);
	}

	body {
		@apply bg-brand-light antialiased;
	}

	/* Custom Scrollbar for Desktop */
	@media (min-width: 1024px) {
		::-webkit-scrollbar {
			width: 8px;
		}
		::-webkit-scrollbar-track {
			background: transparent;
		}
		::-webkit-scrollbar-thumb {
			@apply bg-brand-gray/30 rounded-full hover:bg-brand-gray/50;
		}
	}
}
